<div class="navbar-fixed">
<nav class="red darken-3">
    <div class="container">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Risk Free</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a routerLink="home">Home</a></li>
            <li><a routerLink="camera">Camera</a></li>
            <li><a routerLink="character">Character</a></li>
            <li><a routerLink="house">house</a></li>
          </ul>
        </div>
    </div>
  </nav>
</div>